.main {
    padding: 10px;
}

h1.display-1 {
    text-align: center;
}

a, a:hover, a:visited {
    text-decoration: underline !important;
}

h1 a, h1 a:hover, h1 a:visited {
    color: black !important;
}

img {
    width: 100%;
}
